
*{
/* buena paractica de inicio css */
    padding: 0;
    margin: 0;
    margin-right: 0%;
    
}
.contenedor{
    
    display: flex;
    justify-content: space-between;
    color: blue;
}

.contenedor2{

    width: 100%;
    color: blue;
    /* border: solid red; */
    margin-top: 0%;
    display: flex;
    justify-content: center;
    
    

/*pruebaq*/

}

.barra{
color: white;
background-color: rgb(10, 10, 153);
text-align: center;
padding-bottom: 10px;
margin-bottom: 0%;

}
.iconos{

    display: flex;
    justify-content: space-between; 
    /* border: solid  rgb(201, 22, 192); */
    width: 17%;
    padding-right: 1%;
    padding-left: 1%;
}

.iconocer{

    padding-left: 11px;
    
}

.iconoCon{

    padding-left: 11px;

}


.seguridad{
    background: white;
    width: 22.5%;
    text-align: center;
    /* border: solid gold; */
    padding-top: 5%;
}

.seguridad h4{

    padding-top: 20px;
    padding-left: 29px;
    text-align: left;

    
}



.seguridad h4{

    color: rgb(65, 100, 121);


}

.seguridad .contenedor{

    padding-top: 30px;
    flex-direction: column;


}

 .IngReg {

    width: 80%;
}


.contenedorIngReg {

    
    text-align: center;
    display: flex;
    width: 100%;
    padding-left: 0%;
    margin-left: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(63, 63, 134);
    justify-content: center;
    /* filter: alpha(opacity=50); */
    /* opacity: 0.5; */
    /* background-color: transparent; */
    
    /* background-image: url("imagenes/logo\ bcr.png"); la imagen no puede ser muy grande ya que no sale */
    background-image: url("imagenes/background.png") ;
    background-size: cover;
    
    /* height: 400px; */
    /* align-items: center; */
    
}

.tituloIng{

    color: blue;
    border-bottom: solid rgb(128, 128, 133) 2px ;
    padding-bottom: 10px;

}



.tituloReg{

    color: blue;
    border-bottom: solid rgb(128, 128, 133) 2px ;
    padding-bottom: 10px;
}

.contenedorIngresar{
    /* border: solid yellowgreen; */
    border-radius: 5px;
    /* margin-left: 15%; */
    width: 70%;
    height: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* margin-left: 25%;
    margin-right: 25%; */
    background-color: rgb(237, 237, 243);
    margin-bottom: 10%;
    opacity: 0.7; /*se hace un poco invisible */
    
    }


.textUsuario{

    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;

    }
    
 .contenedorRegistrar{
  /* border: solid yellow;   */
  opacity: 0.7;
  border-radius: 5px;
  width: 70%;
  height: 80%;
  padding-top: 5%;  
  padding-bottom: 5%;
  color: rgba(77, 70, 70, 0.993);
  background-color: rgb(237, 237, 243);
  /* padding-left: 10%;
  padding-right: 10%; */
  margin-bottom: 10%;
  margin-left: 20%;
  /* margin-right: 15%; */
} 

.contenedorRegistrar p {

    padding-top: 15px;
    padding-bottom: 15px;

}

.btnRgs{

    background-color: rgb(202, 23, 23);
    color: white;
    border-radius: 5px;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 18px;
    padding-right: 18px;
    text-decoration: none;
   
   
}

.footer{

    background-color:rgb(10, 10, 153);
    color: white;
    text-align: center;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    /* background-image: url("imagenes/logo\ bcr.png"); */
    /* background-image: url("imagenes/logo\ bcr.png");
     */
}

.cont-cont{

    border: solid rgb(216, 16, 206);
}

.flex1{

    
    flex-direction: column ;
}

.flex2{

    display: flex;
    padding-left: 25%;
}

.c1{

    width: 20%;
    height: 100px;
    color: rgb(243, 23, 8);
    background-color: brown;
    text-align: center;
}

.c2{

    width: 15%;
    height: 100px;
    color: rgb(41, 238, 41);
    background-color: rgb(34, 184, 28);
    
}
.c3{

    width: 15%;
    height: 100px;
    color: rgb(5, 14, 143);
    background-color: rgb(19, 22, 216);
    
}

/* .body{

    margin-bottom: 0px;
    border-color: solid red;
    background-color: blue;
    padding-bottom: 0px;
    border-bottom: 0px;

} */


